
/*Header*/
#logocheemis{
    color: rgb(200, 165, 102);
    font-size: 25px;
    text-decoration: none;
    margin-right: 16px;
    padding-top: 3px;
}
#logocheemis:hover{
    
    color: rgb(188, 106, 12);
}

#iniciosesion{
    color: rgb(200, 165, 102);
    font-size: 16px;
    text-decoration: none;
    margin-right: 16px;
    padding-top: 3px;
}

#iniciosesion:hover{
    color: rgb(188, 106, 12);
}

@media (min-width: 1280px) {
        .navbar {
            padding:0;
            
        }

        .navbar div{
            position: static;
            
        }

        .navbar ul {
            margin: 0;
            padding: 0;
            display: flex;
            list-style: none;
        }

        .navbar li {
            position: relative;
            align-items: center;
            
            
        }

        .navbar>div>ul>li {
            white-space: nowrap;
            padding: 10px 0 10px 28px;
            align-items: center;
        }

    .navbar a,
    .navbar a:focus { /*normal*/
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 3px;
        font-family: 'Courier New', Courier, monospace;
        font-size: 16px;
        font-weight: 600;
        color: rgb(200, 165, 102) !important; /*Da prioridad sobre el de la clase predterminda*/
        white-space: nowrap;
        transition: 0.3s;
        position: relative;
    }

    .navbar a i,
    .navbar a:focus i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
    }

    .navbar>div>ul>li>a:before { /*subrayado*/
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -6px;
        left: 0;
        background-color: rgb(200, 165, 102);
        visibility: hidden;
        width: 0px;
        transition: all 0.3s ease-in-out 0s;
    }

    .navbar a:hover:before,
    .navbar li:hover>a:before,
    .navbar .active:before {
        visibility: visible;
        width: 100%;
        
    }



    .navbar a:hover,
    .navbar .active,
    .navbar .active:focus,
    .navbar li:hover>a {
        color:  rgb(188, 106, 12) !important;
        
    }

}



/*Footer*/
h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 600;
    color: rgb(188, 106, 12) !important; /*Da prioridad sobre el de la clase predterminda*/
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
    margin-left: 50px;


}

h6{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    font-family:inherit;
    font-size: 14px;
    font-weight: 600;
    color: rgb(200, 165, 102) !important; /*Da prioridad sobre el de la clase predterminda*/
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
    margin-left: 20px;
    
}

#copy{
    text-align: center;
    color: rgb(188, 106, 12);

}

/*informacion*/

#titulo{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    text-align: center;
    

}

#parrafo{
    font-family:'Times New Roman', Times, serif;
    text-align:justify;
    margin: 10px;
    color:aliceblue;

}




.jumbotron{
    background-color: rgb(35, 34, 34);;
    color:rgb(188, 106, 12);
    border: 5px solid rgb(200, 165, 102);
}

/* Start: Video Responsive */
.video-responsive {
    overflow:hidden;
    padding-bottom:400px; /* Adecua este valor para controlar la altura del video */
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
/* End: Video Responsive */



#icono{
    
    margin-right :10px ;
}

/*catalogo*/

#borde{
    border: 5px solid rgb(200, 165, 102);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 400px;
    height: 500px;
    max-width: 100%;
    height: auto;
}

#tit{
    color: rgb(188, 106, 12);
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}

#precio{
    color: rgb(200, 165, 102);
    padding: auto;
    text-align: center;
    font-size: 25px;
}

#texto{
    color:  rgb(188, 106, 12);
    border: 5px solid  rgb(188, 106, 12);
    width: 130px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 1px;
    font-size: 13px;
}

#texto:hover{
    color:rgb(200, 165, 102);
    border: 5px solid rgb(200, 165, 102);
    width: 130px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1px;
    font-size: 13px;
}

#imagen{
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/*inicio*/
.map-responsive{

    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;

}

.map-responsive iframe{

    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;

}

#carouselImg{
    width: 300px;
    height: 500px;
    background-color: black;
}

#inTitulo{
    color: rgb(200, 165, 102);
    border: 5px solid rgb(200, 165, 102);
    background-color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#inTexto{
    color: rgb(188, 106, 12);
    border: 5px solid rgb(200, 165, 102);
    background-color: black;
    
    font-family:'Times New Roman', Times, serif;
}





#centrar{ /*para centrar*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Formulario.*/

label{

    display: flex;
    font-family:monospace;
    font-weight: 600;
    color: rgb(188, 106, 12); /*Da prioridad sobre el de la clase predterminda*/
    transition: 0.3s;
    position: relative;
    margin-left: 0px; 

}

input{
    border:3px solid rgb(200, 165, 102);
}

select{
    border:3px solid rgb(200, 165, 102) ;
}

textarea{
    border:3px solid rgb(200, 165, 102);
}

label.error{
    color: red;
}

input.error{
    border:3px solid red;
}

textarea.error{
    border:3px solid red;
}